
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-2_346 {
        width: 100%;
height: 160px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 80px 0px 80px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%201440%20160'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(61%2C138%2C90%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(91%2C173%2C122%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.Pixso-frame-2_347 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 8px;
align-items: flex-start;
      }
.Pixso-paragraph-2_348 {
        font-size: 28px;
font-family: "Outfit-Bold";
font-weight: Bold;
letter-spacing: -0.5px;
color: rgba(255, 255, 255, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_349 {
        font-size: 16px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: rgba(255, 255, 255, 0.6000000238418579);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_350 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 10px;
align-items: center;
padding: 16px 32px 16px 32px;
border-radius: 100px 100px 100px 100px;
background-color: rgba(255, 255, 255, 1);
      }
.Pixso-paragraph-2_351 {
        font-size: 16px;
font-family: "Outfit-Bold";
font-weight: Bold;
color: var(--accent-green);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }

