
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-2_263 {
        width: 100%;
height: 551px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 24px;
align-items: flex-start;
padding: 48px 80px 48px 80px;
background-color: var(--bg-white);
      }
.Pixso-frame-2_264 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_264 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_265 {
        font-size: 28px;
font-family: "Outfit-Bold";
font-weight: Bold;
letter-spacing: -0.5px;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_266 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
      }
.Pixso-paragraph-2_267 {
        font-size: 14px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--accent-blue);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-vector-2_268 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/arrowright.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_271 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-2_271 {
        display: flex;
flex-direction: row;
gap: 24px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_272 {
        width: 280px;
height: auto;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 4px 16px 0px rgba(26, 25, 24, 0.06274509803921569) ;
background-color: var(--bg-cream);
      }
.frame-content-2_272 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_273 {
        width: 100%;
height: 200px;
position: relative;
flex-shrink: 0;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20280%20200'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(74%2C127%2C181%2C0.3137254901960784)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(106%2C159%2C213%2C0.4392156862745098)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.Pixso-vector-2_378 {
        width: 17.14%;
height: 24%;
background-image: url(@/assets/images/penline.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 41.43%;
right: 41.43%;
top: 38%;
bottom: 38%;
      }
.Pixso-frame-2_274 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_274 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_275 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: flex-start;
      }
.Pixso-frame-2_276 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 10px 4px 10px;
border-radius: 100px 100px 100px 100px;
background-color: var(--accent-light-green);
      }
.Pixso-paragraph-2_277 {
        font-size: 11px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--accent-green);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_278 {
        font-size: 16px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
line-height: 139.9999976158142%;
color: var(--text-primary);
width: 240px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-frame-2_279 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
      }
.Pixso-vector-2_280 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/star2.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_282 {
        font-size: 13px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_283 {
        font-size: 13px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-tertiary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_284 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_284 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_285 {
        font-size: 22px;
font-family: "Outfit-Bold";
font-weight: Bold;
letter-spacing: -0.5px;
color: var(--accent-blue);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_286 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 10px 10px 10px;
border-radius: 12px 12px 12px 12px;
background-color: var(--accent-blue);
      }
.Pixso-vector-2_287 {
        width: 18px;
height: 18px;
background-image: url(@/assets/images/plus2.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_290 {
        width: 280px;
height: auto;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 4px 16px 0px rgba(26, 25, 24, 0.06274509803921569) ;
background-color: rgba(245, 244, 241, 1);
      }
.frame-content-2_290 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_291 {
        width: 100%;
height: 200px;
position: relative;
flex-shrink: 0;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20280%20200'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(61%2C138%2C90%2C0.3137254901960784)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(91%2C173%2C122%2C0.4392156862745098)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.Pixso-vector-2_381 {
        width: 17.14%;
height: 24%;
background-image: url(@/assets/images/bookopen.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 41.43%;
right: 41.43%;
top: 38%;
bottom: 38%;
      }
.Pixso-frame-2_292 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_292 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_293 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: flex-start;
      }
.Pixso-frame-2_294 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 10px 4px 10px;
border-radius: 100px 100px 100px 100px;
background-color: rgba(139, 107, 190, 0.125490203499794);
      }
.Pixso-paragraph-2_295 {
        font-size: 11px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--accent-purple);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_296 {
        font-size: 16px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
line-height: 139.9999976158142%;
color: var(--text-primary);
width: 240px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-frame-2_297 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
      }
.Pixso-vector-2_298 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/star1.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_300 {
        font-size: 13px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_301 {
        font-size: 13px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-tertiary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_302 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_302 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_303 {
        font-size: 22px;
font-family: "Outfit-Bold";
font-weight: Bold;
letter-spacing: -0.5px;
color: var(--accent-blue);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_304 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 10px 10px 10px;
border-radius: 12px 12px 12px 12px;
background-color: var(--accent-blue);
      }
.Pixso-vector-2_305 {
        width: 18px;
height: 18px;
background-image: url(@/assets/images/plus1.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_308 {
        width: 280px;
height: auto;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 4px 16px 0px rgba(26, 25, 24, 0.06274509803921569) ;
background-color: rgba(245, 244, 241, 1);
      }
.frame-content-2_308 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_309 {
        width: 100%;
height: 200px;
position: relative;
flex-shrink: 0;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20280%20200'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(139%2C107%2C190%2C0.3137254901960784)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(169%2C140%2C224%2C0.4392156862745098)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.Pixso-vector-2_384 {
        width: 17.14%;
height: 24%;
background-image: url(@/assets/images/palette.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 41.43%;
right: 41.43%;
top: 38%;
bottom: 38%;
      }
.Pixso-frame-2_310 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_310 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_311 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: flex-start;
      }
.Pixso-frame-2_312 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 10px 4px 10px;
border-radius: 100px 100px 100px 100px;
background-color: rgba(216, 149, 117, 0.1882352977991104);
      }
.Pixso-paragraph-2_313 {
        font-size: 11px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--accent-coral);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_314 {
        font-size: 16px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
line-height: 139.9999976158142%;
color: var(--text-primary);
width: 240px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-frame-2_315 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
      }
.Pixso-vector-2_316 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/star0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_318 {
        font-size: 13px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_319 {
        font-size: 13px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-tertiary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_320 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_320 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-frame-2_321 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
gap: 2px;
align-items: flex-start;
      }
.Pixso-paragraph-2_322 {
        font-size: 13px;
font-family: "Outfit-Regular";
font-weight: Regular;
text-decoration: line-through;
color: var(--text-tertiary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_323 {
        font-size: 22px;
font-family: "Outfit-Bold";
font-weight: Bold;
letter-spacing: -0.5px;
color: var(--accent-blue);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_324 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 10px 10px 10px;
border-radius: 12px 12px 12px 12px;
background-color: var(--accent-blue);
      }
.Pixso-vector-2_325 {
        width: 18px;
height: 18px;
background-image: url(@/assets/images/plus0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-2_328 {
        width: 280px;
height: auto;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 4px 16px 0px rgba(26, 25, 24, 0.06274509803921569) ;
background-color: rgba(245, 244, 241, 1);
      }
.frame-content-2_328 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_329 {
        width: 100%;
height: 200px;
position: relative;
flex-shrink: 0;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20280%20200'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(-1.0000%2C%200.0000%2C%200.0000%2C%20-1.0000%2C%201.0000%2C%201.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(216%2C149%2C117%2C0.3137254901960784)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(244%2C200%2C66%2C0.4392156862745098)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
      }
.Pixso-vector-2_390 {
        width: 17.14%;
height: 24%;
background-image: url(@/assets/images/stickynote.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 41.43%;
right: 41.43%;
top: 38%;
bottom: 38%;
      }
.Pixso-frame-2_330 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_330 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_331 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 8px;
align-items: flex-start;
      }
.Pixso-frame-2_332 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 10px 4px 10px;
border-radius: 100px 100px 100px 100px;
background-color: var(--accent-light-green);
      }
.Pixso-paragraph-2_333 {
        font-size: 11px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--accent-green);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_334 {
        font-size: 16px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
line-height: 139.9999976158142%;
color: var(--text-primary);
width: 240px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-frame-2_335 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
gap: 6px;
align-items: center;
      }
.Pixso-vector-2_336 {
        width: 14px;
height: 14px;
background-image: url(@/assets/images/star.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_338 {
        font-size: 13px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_339 {
        font-size: 13px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-tertiary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_340 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_340 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_341 {
        font-size: 22px;
font-family: "Outfit-Bold";
font-weight: Bold;
letter-spacing: -0.5px;
color: var(--accent-blue);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_342 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 10px 10px 10px;
border-radius: 12px 12px 12px 12px;
background-color: var(--accent-blue);
      }
.Pixso-vector-2_343 {
        width: 18px;
height: 18px;
background-image: url(@/assets/images/plus.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }

