
.scroll-container {
        height: 100%;
width: 100%;
overflow: auto;
      }
.Pixso-frame-2_750 {
        width: 100%;
height: 486px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 80px 48px 80px;
      }
.Pixso-frame-2_751 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_751 {
        display: flex;
flex-direction: row;
align-items: center;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_751 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_751 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 2px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(229, 228, 225, 1);
      }
.Pixso-frame-2_752 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 32px 16px 32px;
      }
.stroke-wrapper-2_752 {
        position: relative;
width: auto;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_752 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 0px 0px 3px 0px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-blue);
      }
.Pixso-paragraph-2_753 {
        font-size: 16px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--accent-blue);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_754 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 32px 16px 32px;
      }
.Pixso-paragraph-2_755 {
        font-size: 16px;
font-family: "Outfit-Medium";
font-weight: Medium;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_756 {
        width: auto;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 32px 16px 32px;
      }
.Pixso-paragraph-2_757 {
        font-size: 16px;
font-family: "Outfit-Medium";
font-weight: Medium;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_758 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
      }
.frame-content-2_758 {
        display: flex;
flex-direction: row;
gap: 64px;
align-items: flex-start;
padding: 40px 0px 0px 0px;
width: 100%;
position: relative;
      }
.Pixso-frame-2_759 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
flex-grow: 1;
flex-basis: 0;
      }
.frame-content-2_759 {
        display: flex;
flex-direction: column;
gap: 20px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_760 {
        font-size: 22px;
font-family: "Outfit-Bold";
font-weight: Bold;
letter-spacing: -0.30000001192092896px;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_761 {
        font-size: 15px;
font-family: "Outfit-Regular";
font-weight: Regular;
line-height: 169.99999284744263%;
color: var(--text-secondary);
width: 560px;
height: auto;
position: relative;
flex-shrink: 0;
flex-grow: 0;
      }
.Pixso-frame-2_762 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
      }
.frame-content-2_762 {
        display: flex;
flex-direction: column;
gap: 12px;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_763 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_763 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-frame-2_764 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 100px 100px 100px 100px;
background-color: var(--accent-light-green);
      }
.frame-content-2_764 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_765 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/check3.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_767 {
        font-size: 15px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_784 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_784 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-frame-2_785 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 100px 100px 100px 100px;
background-color: var(--accent-light-green);
      }
.frame-content-2_785 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_786 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/check2.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_788 {
        font-size: 15px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_789 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_789 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-frame-2_790 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 100px 100px 100px 100px;
background-color: var(--accent-light-green);
      }
.frame-content-2_790 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_791 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/check1.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_793 {
        font-size: 15px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_794 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_794 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-frame-2_795 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 100px 100px 100px 100px;
background-color: var(--accent-light-green);
      }
.frame-content-2_795 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_796 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/check.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_798 {
        font-size: 15px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_799 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
      }
.frame-content-2_799 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
position: relative;
      }
.Pixso-frame-2_800 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 100px 100px 100px 100px;
background-color: var(--accent-light-green);
      }
.frame-content-2_800 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-vector-2_801 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/check0.png);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
flex-shrink: 0;
      }
.Pixso-paragraph-2_803 {
        font-size: 15px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_768 {
        width: 340px;
height: auto;
overflow: hidden;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
border-radius: 16px 16px 16px 16px;
box-shadow: 0px 2px 12px 0px rgba(26, 25, 24, 0.06274509803921569) ;
background-color: rgba(255, 255, 255, 1);
      }
.frame-content-2_768 {
        display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
position: relative;
      }
.Pixso-frame-2_769 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: flex-start;
background-color: rgba(245, 244, 241, 1);
      }
.frame-content-2_769 {
        display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 20px 16px 20px;
width: 100%;
position: relative;
      }
.Pixso-paragraph-2_770 {
        font-size: 16px;
font-family: "Outfit-Bold";
font-weight: Bold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_771 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_771 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 12px 20px 12px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_771 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_771 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(229, 228, 225, 1);
      }
.Pixso-paragraph-2_772 {
        font-size: 14px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_773 {
        font-size: 14px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_804 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_804 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 12px 20px 12px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_804 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_804 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(229, 228, 225, 1);
      }
.Pixso-paragraph-2_805 {
        font-size: 14px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_806 {
        font-size: 14px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_807 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_807 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 12px 20px 12px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_807 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_807 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(229, 228, 225, 1);
      }
.Pixso-paragraph-2_808 {
        font-size: 14px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_809 {
        font-size: 14px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_810 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_810 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 12px 20px 12px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_810 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_810 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(229, 228, 225, 1);
      }
.Pixso-paragraph-2_811 {
        font-size: 14px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_812 {
        font-size: 14px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_813 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_813 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 12px 20px 12px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_813 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_813 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(229, 228, 225, 1);
      }
.Pixso-paragraph-2_814 {
        font-size: 14px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_815 {
        font-size: 14px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_816 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_816 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 12px 20px 12px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_816 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_816 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(229, 228, 225, 1);
      }
.Pixso-paragraph-2_817 {
        font-size: 14px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_818 {
        font-size: 14px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-frame-2_819 {
        width: 100%;
height: 100%;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
      }
.frame-content-2_819 {
        display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 12px 20px 12px 20px;
width: 100%;
position: relative;
      }
.stroke-wrapper-2_819 {
        position: relative;
width: 100%;
height: auto;
display: flex;
flex-shrink: 0;
      }
.stroke-2_819 {
        position: absolute;
inset: 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: rgba(229, 228, 225, 1);
      }
.Pixso-paragraph-2_820 {
        font-size: 14px;
font-family: "Outfit-Regular";
font-weight: Regular;
color: var(--text-secondary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-paragraph-2_821 {
        font-size: 14px;
font-family: "Outfit-SemiBold";
font-weight: SemiBold;
color: var(--text-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }

