* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  width: 25%; /* Для больших экранов */
}

@media (max-width: 768px) {
  .product {
    width: 100%; /* Для мобильных экранов */
  }
}
img {
  max-width: 100%;
  height: auto;
}